<div class="container1">
    <div class="botones">
      <a (click)="speak()" id="hablar" type="button"
        ><img style="width: 80%" src="../../assets/images/discapacidad.png"
      /></a>
      <a (click)="stop()" id="hablar" type="button"
        ><img style="width: 80%" src="../../assets/images/stop.png"
      /></a>
    </div>
  </div>
<header>
    <!-- Background image -->
    <div class="p-5 text-center bg-image" style="
        background-image: url('../../assets/images/navidad.jpg');
        background-size: cover;
        height: 350px;
      ">
        <br>
        <br>
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h2 class="mb-3">Preguntas Frecuentes</h2>
                    <h1 class="mb-3">¿Tienes alguna duda?</h1>
                    <h4 class="mb-3">¿Tú pregunta no está aquí? ¡Contáctanos!</h4>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>

<br>

<div class="container">

    <div class="pregunta">

        <p>
            <a class="alert" data-toggle="collapse" href="#pregunta1" role="button" aria-expanded="false"
                aria-controls="pregunta1">
                <span class="badge badge-secondary">1</span> ¿Puedo recibir varias cartas a la vez?
            </a>
        </p>
        <div class="collapse" id="pregunta1">
            <div class="card card-body">
                Si, de hecho, puedes recibir hasta 4 cartas distintas a la vez.
            </div>
        </div>

    </div>

    <br>

    <div class="pregunta3">

        <p>
            <a class="alert" data-toggle="collapse" href="#pregunta3" role="button" aria-expanded="false"
                aria-controls="pregunta3">
                <span class="badge badge-secondary">2</span> Si quiero más de una carta para mis hijos, ¿serán totalmente iguales?
            </a>
        </p>
        <div class="collapse" id="pregunta3">
            <div class="card card-body">
                Por supuesto que no, contamos con hasta 5 modelos de carta para elegir. Además, cada carta es personalizada por la persona que lo solicite.
            </div>
        </div>

    </div>

    <br>

    <div class="pregunta4">

        <p>
            <a class="alert" data-toggle="collapse" href="#pregunta4" role="button" aria-expanded="false"
                aria-controls="pregunta4">
                <span class="badge badge-secondary">3</span> ¿Hasta qué fecha puedo hacer mi pedido?
            </a>
        </p>
        <div class="collapse" id="pregunta4">
            <div class="card card-body">
                Tienes hasta el 19 de Diciembre, pero para que lleguen antes de Navidad, lo recomendable sería antes del día 10. Si lo solicitas después de este día, es preferible que lo hagas por envío urgente, ya que Correos recibe miles de envíos y no se asegura que se reciba antes del día de Navidad. Después del día 19 de Diciembre, no aceptamos pedidos.
                </div>
        </div>

    </div>

    <br>

    <div class="pregunta5">

        <p>
            <a class="alert" data-toggle="collapse" href="#pregunta5" role="button" aria-expanded="false"
                aria-controls="pregunta5">
                <span class="badge badge-secondary">4</span> ¿Puedo cambiar una carta o los datos del pedido una vez realizado?
            </a>
        </p>
        <div class="collapse" id="pregunta5">
            <div class="card card-body">
                Recomendamos que se asegure de que todos los datos sean correctos y de que el texto no contenga erratas o faltas de ortografía ya que se mostrará tal cual lo rellene, NO se podrá modificar una vez enviado ya que estará en proceso de producción. En todas las cartas se podrá contemplar el resultado final antes de tramitar el pedido.
            </div>
        </div>

    </div>

    <br>

    <div class="pregunta6">

        <p>
            <a class="alert" data-toggle="collapse" href="#pregunta6" role="button" aria-expanded="false"
                aria-controls="pregunta6">
                <span class="badge badge-secondary">7</span> Tienen informacion por QR???
            </a>
        </p>
        <div class="collapse" id="pregunta6">
            <div class="card card-body">
                Si!!!, lo encuentras a continuacion

                <ngx-qrcode 
      [elementType]="elementType" 
      [value]="value"
      cssClass="aclass"
      [errorCorrectionLevel]="errorCorrectionLevel">
        </ngx-qrcode>

                
            </div>
        </div>

    </div>

    <br>

    <div class="pregunta7">

        <p>
            <a class="alert" data-toggle="collapse" href="#pregunta7" role="button" aria-expanded="false"
                aria-controls="pregunta7">
                <span class="badge badge-secondary">6</span> ¿Se puede hacer un pedido por teléfono?
            </a>
        </p>
        <div class="collapse" id="pregunta7">
            <div class="card card-body">
                No, solo está disponible el pedido vía web, garantizamos seguridad en todas las transacciones. Recomendamos el pago mediante PayPal, la plataforma más segura del mercado.
            </div>
        </div>

    </div>
  


</div>

<br>