img {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

img:hover {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transform: scale(1.2);
}

