<div class="container1">
    <div class="botones">
      <a (click)="speak()" id="hablar" type="button"
        ><img style="width: 80%" src="../../assets/images/discapacidad.png"
      /></a>
      <a (click)="stop()" id="hablar" type="button"
        ><img style="width: 80%" src="../../assets/images/stop.png"
      /></a>
    </div>
  </div>

<header>
    <!-- Background image -->
    <div class="p-5 text-center bg-image" style="
        background-image: url('../../assets/images/navidad.jpg');
        background-size: cover;
        height: 350px;
      ">
        <br>
        <br>
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h2 class="mb-3">Santa Claus está esperando tú carta</h2>
                    <h1 class="mb-3">¡Haz que está navidad sea diferente!</h1>
                    <h4 class="mb-3">Envia tu carta al polo norte.</h4>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>

<br>

<div class="container text-center">
    <h3 class="mb-3">Haz este día tan especial mejoré con una experiencia totalmente única, una carta personalizada a
        Santa Claus y de una manera interactiva.</h3>
    <p style="color: rgb(152, 0, 0);">Que tu hijo sea quien la escriba y eliga los juguetes que prefiera, para después
        enviarla directamente al polo norte.</p>
    <h2 style="color: rgb(0, 152, 43);">Instrucciones</h2>
</div>

<div class="container d-flex justify-content-center align-items-center">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/paso1.jpg" class="card-img-top" alt="Paso 1" />
                <div class="card-body">
                    <p class="card-text">Deja que tu pequeñ@ redacte la carta para Santa Claus.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/paso2.jpg" class="card-img-top" alt="Paso 2" />
                <div class="card-body">
                    <p class="card-text">Que tu pequeñ@ eliga los juguetes que desea.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/paso3.jpg" class="card-img-top" alt="Paso 3" />
                <div class="card-body">
                    <p class="card-text">¡Presiona "Enviar" y carta irá al polo norte!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<!-- Design inspired from https://www.hotjar.com/ -->
<div class="jumbotron">
    <div class="container text-center text-lg-left">

        <div class="row">
            <div class="col-lg-8">
                <h3 class="display-4">¿Qué esperas para volver esta navidad <span class="highlight-word">inolvidable?</span></h3>
                <p class="lead">Sólo crea una cuenta de tutor/padre, y empieza a cumplir el sueño de tus hij@s de una manera más interactiva.</p>

            </div>
            <div class="col-lg-4 align-items-center d-flex">
                <img src="../../assets/images/hijos.jpg" alt="" class="img-fluid">
            </div>
        </div>


    </div>
</div>
